<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        <div id="particles-js"></div>
        <header>
            {{> navbar}}
        </header>
        <main class="container-fluid">
            {{{body}}}
        </main>
       
        <footer>
            {{> footer}}
        </footer>
        {{!-- {{> scripts}} --}}
         <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
        <script src="/js/particles-js.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
        <script>
            particlesJS.load('/js/particles-js', '/js/particles.json',
            function() {
                console.log('particles.json loaded...');
            });
        </script>
        {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
    </body>
</html>
