<div class="container">
    <div class="row justify-content-md-center"> 
        <p class="centerr biotext">DJ Iggy, born Ignacio Ceja, is a Chicago based sound selector.
            Known for having an ear for new sounds, his style combines the rhythm’s and beats of Hip-Hop/R&B,
            Electronic, and Caribbean influences. </p>
    </div>
</div>

<style>
    #particles-js {
        background-color: #65C979;        
    }
    .centerr {
        margin-top: 140px;
        text-align: center;
    }
    .biotext {
        font-family: titlefont;
        color: black;
        font-size: 36px;
    }
    @media screen and (max-width: 950px) {
        .centerr {
            padding-right: 18px;
            padding-left: 18px;
        }
        .biotext {
            font-size: 26px;
        }
    }
</style>

<script src="/js/bio-particle.js"></script>