    <div class="container-fluid">
		<h1 class="event-header">Upcoming Events</h1>
		{{#each events}}
			<div class="events row">
				<div class="col-sm-12">
					<p class="event-date">{{this.date}}</p>
					<p class="event-title">{{this.title}}</p>
					<p class="event-location">{{this.location}}</p>
				</div>
			</div>	
		{{/each}}
    </div>

    <link rel="stylesheet" href="/stylesheets/events.css">
    <style>
        #particles-js {
            background-color: #33BEFF;
            z-index: -1;
        }
		footer {
			position: unset;
		}
    </style>

<script src="/js/events-particle.js"></script>