    <div class="container-fluid">
		<h1 class="event-header">Upcoming Events</h1>
		<div class="events row">
			<div class="col-sm-12">
				<p class="event-date">SEPT 8</p>
				<p class="event-title">Emporium</p>
				<p class="event-location">Wicker Park, IL</p>
			</div>
		</div>	
		<div class="events row">
			<div class="col-sm-12">
				<p class="event-date">SEPT 15</p>
				<p class="event-title">Ace Hotel</p>
				<p class="event-location">Chicago, IL</p>
			</div>
		</div>	
		<div class="events row">
			<div class="col-sm-12">
				<p class="event-date">SEPT 22</p>
				<p class="event-title">Broken Shaker</p>
				<p class="event-location">Chicago, IL</p>
			</div>
		</div>	
	</div>
    </div>

    <link rel="stylesheet" href="/stylesheets/events.css">
    <style>
        #particles-js {
            background-color: #33BEFF;
            z-index: -1;
        }
    </style>

<script src="/js/events-particle.js"></script>