<div class="home row">
    <!-- <img src="img/bluesmoke1.jpg" class="bg" alt="">    -->
    <div class="col-sm-12 text-center">
            <img src="./img/logodark.png" class="homes homelogo" alt="Logo Image">
    </div> 
</div>